{% extends "::base.html.twig" %}

{% block title %}Admin{% endblock %}

{% block body %}
    {{ parent() }}
    {% block form %}admin{% endblock %}
    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
        <a href="{{ path('logout')}}">logout</a>
    {% else %}
        <a href="{{ path('loginForm')}}">login</a>
    {% endif %}    
{% endblock %}