{% extends baseLayout %}

{% block title %}loginForm{% endblock %}

{% block form %}
    <h3 style="color:black; margin-bottom: 10px">Login for Students & Providers</h3>
<form action="{{ path('login') }}" method="post">
    <table style="border:solid gray 2px; border-radius: 5px; padding:5px; background:white;color:black;">
        <tr>
            <td><label for="username">User name:</label></td>
            <td><input type="text" id="username" name="_username" value="{{ last_username }}" /></td>
        </tr>
        <tr>
            <td><label for="password">Password:</label></td>
            <td><input type="password" id="password" name="_password" /></td>
        </tr>
        <tr>
            <td></td>
            <td><button type="submit">login</button> <a href="{{path('registerForm')}}" style="color:black"/>Or Register Here<a></td>
        </tr>
    </table>
    <table style="text-align:center; color:black;">
        <tr>
            <td>
                {% if error %}
                    <div>{{ error.message|trans }}</div>
                {% endif %}
            </td>
        </tr>
    </table>
    <br/>
</form>
{% endblock %}
