{% extends baseLayout %}

{% block title %}loginForm{% endblock %}

{% block form %}
<h1>Property Provider Registration Form</h1><br/>
{{ form_start(form, {attr:{novalidate: 'novalidate'}}) }}

{{form_end(form)}}
{% endblock %}