{% extends "::base.html.twig"%}

{% block title %}listings settings{% endblock %}

{% block body %}
    <div class="col-sm-6 col-sm-offset-1">
             {{ form_start(form, {attr:{novalidate: 'novalidate'}}) }}
           
            {{form_end(form)}}
    </div>
    <a href="{{ path('addCategory') }}"><button type="button" class="btn btn-success">Save Values</button></a>
{% endblock %}